/* Cabeçalho */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    background-color: #000;
    color: #fff;
}

.bannerPromocional {
    background-color: #99caff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #000;
}

.conteudoCabecalho {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.conteudoCabecalho img {
    height: 150px;
    width: 115px;
}

.campoPesquisa {
    flex: 1;
    display: flex;
}

.campoPesquisa input {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: right;
}

.campoPesquisa button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #99caff;
    border: none;
    cursor: pointer;
}

.botoesCabecalho button {
    background-color: #666;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
}

.menuNavegacao {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px 0;
}

.menuNavegacao a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.menuNavegacao a:hover {
    text-decoration: underline;
}

/* Seção de Produtos */
.secaoProdutos {
    padding: 20px;
    text-align: center;
}

.gradeProdutos {
    display: flex;
    gap: 20px;
    justify-items: center;
}

.produto {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h2 {
    font-size: 18px;
    color: #333;
}

.produto p {
    font-size: 16px;
    color: #666;
}

.produto button {
    background-color: #99caff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #66aaff;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.conteudoRodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape img {
    width: 80px;
}

.contatoRodape p {
    margin: 5px 0;
}

.linksRodape h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.linksRodape ul {
    list-style: none;
    padding: 0;
}

.linksRodape ul li {
    margin: 5px 0;
}

.linksRodape ul li a {
    color: #fff;
    text-decoration: none;
}

.linksRodape ul li a:hover {
    text-decoration: underline;
}

